name: Build and Publish Seanime Docker Image

on:
  workflow_dispatch: # Manual trigger only

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Fetch latest version from JSON
        id: get_version
        run: |
          VERSION=$(curl -sSL https://github.com/5rahim/seanime/releases/latest/download/latest.json \
            | grep -oE '"version": "[^"]*' | cut -d'"' -f4)
          echo "version=$VERSION" >> $GITHUB_ENV
          echo "Latest version: $VERSION"

      - name: Log in to GitHub Container Registry
        run: echo "${{ secrets.GHCR_TOKEN }}" | docker login ghcr.io -u $GITHUB_ACTOR --password-stdin

      - name: Build Docker image
        run: |
          docker build -t ghcr.io/cat-ling/seanime:${{ env.version }} -t ghcr.io/cat-ling/seanime:latest .

      - name: Push Docker image to GHCR
        run: |
          docker push ghcr.io/cat-ling/seanime:${{ env.version }}
          docker push ghcr.io/cat-ling/seanime:latest
